<!DOCTYPE html>
<html style="width: 100%; height: 100%; margin: 0px; overflow: hidden;">
  <head>
    <meta charset="utf-8">
    <title>pokeplayer</title>
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
      <!-- Add `node_modules/` to global paths so `require` works properly in development -->
      <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
      </script>
    <% } %>
    <script>
      function init () {
        document.body.appendChild(new Game({
          projectDir: 'http://localhost:9898',
          constants: {
            tileSize: 32
          }
        }).view)
      }
    </script>
  </head>
  <body style="width: 100%; height: 100%; margin: 0px; overflow: hidden;" onload="init();">
    <!-- Set `__static` path to static files in production -->
    <script>
      try { if (process.env.NODE_ENV !== 'development') window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\') } catch (e) { console.log(e) }
    </script>
    <!-- webpack builds are automatically injected -->
  </body>
</html>
